{{ define "head" }}
{{ partial "head.html" . }}
{{ partial "head-instagram-feed.html" . }}
{{ end }}
{{ define "main" }}
<div class="container py-4">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h1>
        CULTIVONS NOTRE AVENIR
      </h1>
      <div class="fs-5 intro-texte">
        {{ .Content }}
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div id="banner" class="row mt-xxl-5 pt-xxl-5 mt-2 pt-2 mb-5">
    <img src="{{ (printf "images/%s" .Site.Params.banner) | relURL }}"
      class="img-fluid"
      alt="Photo de groupe de la liste Cultivons notre avenir">
  </div>
  <div class="row justify-content-center gy-4 mb-5">
    {{ range site.RegularPages }}
    <div class="section section-item col-sm-6 col-md-3 pb-3 col-6">
      <a class="d-block" href="{{ .RelPermalink }}">
        <div class="section-image-wrapper">
          {{ with .Params.image }}
          <img src="{{ . }}" alt="{{ $.Title }}">
          {{ end }}
        </div>
        <h3 class="fs-4 fw-light mt-1 justify-content-center d-flex text-center">{{ .LinkTitle }}</h3>
      </a>
    </div>
    {{ end }}

  </div>
</div>
<div id="pip-video" style="display:none;">
  <video id="homeVideo" autoplay muted playsinline controls>
    <source src="/videos/fisel.mp4" type="video/mp4">
  </video>
  <button id="close-video">X</button>
  <div id="restore-label">▶</div>
</div>

<div class="container vignette">
  <h2>Ils nous soutiennent</h2>
  <div class="vignette-track">
    <div class="vignette-item">
      <video muted preload="metadata" width="200" height="112">
        <source src="/videos/cultivons-notre-avenir-1.mp4" type="video/mp4">
      </video>
      <span class="play-icon">▶</span>
    </div>
    <div class="vignette-item">
      <video muted preload="metadata" width="200" height="112">
        <source src="/videos/cultivons-notre-avenir-2.mp4" type="video/mp4">
      </video>
      <span class="play-icon">▶</span>
    </div>
  </div>
</div>

<!-- Overlay vidéo -->
<div id="video-overlay" style="display:none;">
  <div id="overlay-bg"></div>
  <video id="overlay-video" controls></video>
  <button id="overlay-close">X</button>
</div>

{{ end }}